@media (max-width: 600px) {
	input[type="text"] {
		font-size: 16px !important;
	}
	.waitLabel{
		font-size: 1rem !important;
	}
	.code{
		font-size: 3rem;
		margin-bottom: 0 !important;
	}
	.label{
		font-size: 1rem !important;
	}
	.fa-solid.fa-circle-notch{
		width: 15px !important;
		height: 15px!important;
		font-size: 15px!important;
	}
	.enterButton{
		font-size: 0.8rem !important;
		padding: 0.7rem !important;
	}
    .developerLogo{
        font-size: 1rem !important;
    }
	.contactUs{
		font-size: 1rem !important;
	}
    .footerDiv{
        font-size: 0.8rem !important;
        flex-direction: column !important;
    }
    .newTabIcon{
        font-size: 0.8rem;
    }
	/* #enterRoom{
		width: 75vw !important;
	} */
	.codeLink{
		font-size: 1rem;
	}
	.TriangleDropTitle{
		font-size: 1.2rem !important;
	}
	.title>img {
		width: 40px !important;
	}
	.codeQRcode>img{
		width: 80px !important;
	}
	.flexBlink{
		flex-basis: 0px !important;
	}
}

@media (max-width: 500px){
	.codeSector{
		flex-wrap: wrap !important;
	}
	.codeQRcode>img{
		width: 150px !important;
	}
	.codeQRcode{
		margin: 0px auto;
	}
	#enterRoom{
		flex-wrap: wrap;
	}
	.roomCodeInput{
		margin: 0px auto;
	}
	.enterButton{
		width: 100%;
	}
}

/* qrcode */
@media (max-width: 900px) {
	.codeQRcode>img{
		width: 100px;
	}
	.flexBlink{
		flex-basis: 100px;
	}
}

@media (max-width: 1500px) {
	.app {
		width: 100vw !important;
	}
	#inRoom {
		width: 90vw !important;
	}
	#welcome {
		margin-left: 0;
		margin-right: 0;
	}
	.messageSendBlock{
		width: 90vw !important;
	}
	hr{
		width: 90vw !important;
	}
	/* #enterRoom {
		width: 85vw;
	} */
}