@import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");
@import url('//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');
@import url('//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&family=Noto+Sans+Mono:wght@500&display=swap');

:root {
	--color-light-blue: rgb(229, 243, 252);
	--color-light-green: rgb(195, 247, 229);

	/* dark */
	--colorSbg: #292929;
	--colorbg: #000000;
	--color1-active: #414141;
	--color-text: #ffffff;


	--tran-def: background-color 0.4s;
	--color-link-active: #116dc2;

	/* light */
	--color-light1: #d9d9d9;
	--color-lightbg: #e0e0e0;
	--color-light-active: #c9c9c9;
	--color-light-text: #000;

}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Noto Sans KR", Pretendard, -apple-system, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕","Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, Oxygen, Ubuntu, Cantarell, 'Open Sans', system-ui, BlinkMacSystemFont;
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	height: 100vh;
	transition: var(--tran-def);
}

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 7px;
	height: 3.5px;
}
html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
	background: #3a3a3a;
	border-radius: 20px;
}
html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
	background: #ffffff00;
	border-radius: 20px;
}

input[type="text"] {
	color: var(--primary-text-color);
	font-size: 1rem;
	border: 0;
	border-radius: 10px;
	outline: none;
	padding: 0.5rem;
	background-color: var(--secondary-bg-color);
	transition: border-color 0.4s, var(--tran-def);
	border: var(--secondary-bg-color) 1px solid;
	/* box-shadow: inset 15px 15px 30px #cccccc,
            inset -15px -15px 30px #f6f6f6; */
}

input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}

input[type="text"]:active, input[type="text"]:focus {
	border-color: var(--color-link-active);
}

button {
	border-radius: 10px;
	color: #000;
	border: none;
	background-color: var(--secondary-bg-color);
	/* box-shadow:  15px 15px 30px #989898,
				 -15px -15px 30px #ffffff; */
	cursor: pointer;
	transition: var(--tran-def);
}

button:hover, button:active, button:focus {
	background-color: var(--secondary-color);
}

/* button {
	transition: filter 0.5s !important;
	background: linear-gradient(45deg, #3eb8ff, #2651ad);
	border: none !important;
}
button:hover {
	filter: hue-rotate(50deg);
	transition: filter 0.5s;
} */



/* to bottom, #f5f5f5, #e6e6e6 */

.center {
	/* position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%); */
	margin-top: 2rem;
	width: 88vw;
	max-width: 1600px;
}

.app {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	/* margin-top: 1rem; */
	/* margin-bottom: 1rem; */
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	/* width: 70%; */
	text-align: center;
}

.label {
	font-size: 1.7rem;
	font-weight: 400;
}

.codeInputLabel{
	font-size: 1.7rem;
	margin-bottom: 1rem;
	display: block;
}

hr {
	height: 1px;
	border: none;
	margin: 1rem;
	margin-left: 0;
	margin-right: 0;
	
}
.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}

.hr-text:before {
	content: '';
	/* background: linear-gradient(to right, transparent, #818078, transparent); */
	background-color: #818078;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: black;
	background-color: var(--primary-bg-color)
}

.code {
	/* display: flex; */
	align-items: center;
	justify-content: center;
	/* height: 5rem;
	width: 14rem; */
	padding: 0.3rem;

	cursor: pointer;

	font-weight: 500;
	font-size: 4rem;
	font-family: "Noto Sans Mono", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
	/* border-radius: 20px; */

	color: white;
	text-decoration: none;
	display: inline-block;
	position: relative;

	/* margin-bottom: 0.5rem; */
	background: var(--code-gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.code:after {
	content: "";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 1.5px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

/* span.code:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
} */

.code span {
	font-size: 1.5rem;
	color: #1095c1;
}

.InRoom {
	font-size: 1.5rem !important;
	height: 1.5rem;
	margin: 0;
	padding: 0;
	width: unset;
	padding-bottom: 0.5rem;
	/* position: unset !important;
	transform: none !important;
	top: unset !important;
	left: unset !important; */
}

.waitLabel {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	width: fit-content;
	display: inline;
}



.roomCodeInput {
	margin-right: 0.5rem;
	flex-grow: 1;
	flex-shrink: 1;
	font-family: "Noto Sans Mono", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
	text-transform: uppercase;
	width: 100%;
}

.enterButton {
	border: none;
	color: var(--primary-text-color);
	font-size: 1.2rem;
	border-radius: 10px;
	outline: none;
	padding: 1rem;
	flex-shrink: 1;
	font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
}

/* #welecome {
	min-width: 35%;
} */

.errorCode {
	background-color: #e53935;
	/* border-color: red; */
}

/* .noRoom {
    margin: 0.5rem;
    color: red;
    font-weight: 900;
} */

#inRoom {
	width: 70%;
	height: 100%;
}
#fileInput {
	display: none;
}
.fileInputLabel {
	cursor: pointer;
	font-size: 1.2rem;
	/* background-color: #1095c1; */
	border-radius: 500px;
	width: 50px;
	height: 50px;
	margin-bottom: 0;
	flex-shrink: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
.fileInputLabel > i {
	color: #8f8f8f;
	font-size: 1.5rem;
	/* margin-top: 15.155px;
	text-align: center; */
}
.fileInputLabel > i:hover {
	color: rgb(204, 204, 204);
}

.messageDiv {
	font-size: 1.2rem;
	border: 0;
	border-radius: 10px;
	outline: none;
	padding: 0.2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: auto;
	/* bottom: 2rem; */
	margin: 1.3rem 0;
	/* position: fixed;
	height: 3rem; */
	/* height: 50px; */
	/* box-shadow: 15px 15px 30px #989898; */
	z-index: 0;
	background-color: var(--secondary-bg-color);
	transition: var(--tran-def);
}
.messageSendBlock{
	margin: 0;
	/* position:fixed; */
}
.filesPreview {
	padding: 0.5rem;
	/* padding-bottom: 40px; */
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: auto;
	text-align: left;
	/* position: fixed; */
	/* bottom: 50px; */
	position: relative;
	top: 1.8rem;
	/* box-shadow: 15px 15px 30px #989898; */
	z-index: -1;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#messageInput {
	width: 100%;
	height: 100%;
	padding: 1rem 0.5rem;
}

#messageInput,
#messageSendButton {
	margin-bottom: 0;
}

#messageSendButton {
	/* width: min-content; */
	/* margin: 2rem; */
	/* background-color: var(--primary-bg-color); */
	transition: var(--tran-def);
	border: none;
	margin-right: 10px;
	cursor: pointer;
}

#messageSendButton > i {
	font-size: 1.5rem;
	color: #8f8f8f;
}
#messageSendButton > i:hover {
	color: rgb(204, 204, 204);
}

#messageBlock {
	/* background-color: #18242c; */
	/* height: 75vh; */
	overflow-y: scroll;
}

.progress {
	position: sticky;
	top: 0;
	background: var(--secondary-bg-color);
	width: 100%;
	/* margin: auto; */
	border-radius: 50px;
	box-shadow: var(--box-shadow-flat);
	transition: box-shadow 1s;
	transition: var(--tran-def);

}

div.sendProgress > div.label,
div.receiveProgress > div.label {
	font-weight: 700;
	font-size: 1.2rem;
	text-align: center;
	margin: 0px;
	padding-top: 15px;
}
#sendProgressBar,
#sendProgressBar2,
#receiveProgressBar {
	width: 80%;
	margin: 0.3rem;
}
#sendProgressBar2,
#receiveProgressBar{
	margin-bottom: 1rem;
}
#sendProgressBar,
#receiveProgressBar {
	margin-top: 1rem;
}
#enterRoom {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.enterRoomDiv{
	transition: border-color 0.5s;
	border-radius: 10px;
	border: var(--primary-bg-color) 2px solid;
}
.prv {
	margin-right: 0.2rem;
	margin-left: 0.2rem;
}
.prv > i {
	font-size: 1.5rem;
	color: #8f8f8f;
}
.prv.fa-file{
	font-size: 4rem;
}
.prv.prvFileBox {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	vertical-align: top;
}
.prv.prvFileName {
	font-size: 1.4rem;
	font-weight: 900;
}
.prv.prvFileSizeAndType {
	font-size: 1rem;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spin {
	animation: spin 1s ease-in-out infinite;
}
.fa-solid.fa-circle-notch {
	width: 22px;
	height: 22px;
	font-size: 22px;
}
.dragAndDrop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
	background-color: white;
	opacity: 0;
	transition: opacity 1s;
}
.drop-zone-active {
	transition: opacity 1s;
	display: block;
	opacity: 0.8;
	pointer-events: all;
}

.footerDiv{
	height: 156.6px;
	/* transform: translateY(-100%); */
	position: relative;
	/* box-shadow:  15px 15px 30px #989898,
             -15px -15px 30px #ffffff; */
	/* z-index: 1; */
	border-radius: 20px 20px 0 0;
	padding: 10px;
	background-color: var(--secondary-bg-color);
	transition: var(--tran-def);


}

div.footerLeft{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-around;
	margin: 0.8rem;
}
div.developerLogos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	font-size: 2.3rem;
}
/* .developerLogo:hover{
	color: #63b4ff;
} */
.developerLogo{
	margin-right: 1rem;
	padding-bottom: 7px;
	font-weight: 100;
	color: var(--primary-text-color);
}
.viewOnGithub, .viewOnGithubLink, .contactUs{
	color: var(--primary-text-color);
}
.newTabIcon{
	font-size: 1.5rem;
}

a{
	color: #2e99fd;
	text-decoration: none;
}
a:hover{
	color: #116dc2;
	text-decoration: none;
}
#sector0 ,#sector1, #sector2{
	border-radius: 20px;
/* box-shadow:  15px 15px 30px #989898,
             -15px -15px 30px #ffffff; */
	padding: 15px;
	z-index: -1;
	background-color: var(--secondary-bg-color);
	transition: var(--tran-def);

}
#sector0{
	margin-bottom: 2rem;
}
#sector2{
	margin-top: 2rem;
}
.languageDropDown{
	display: none;
	background-color: var(--secondary-color);
	max-width: 160px;
	z-index: 1;
	margin-top: 1rem;
}
.languageDropDown > a{
	color: var(--primary-text-color);
	padding: 12px 0px;
	text-decoration: none;
	display: block;
	transition: var(--tran-def);
	border-radius: 20px;
}
.languageDropDown > a:hover{
	background-color: var(--secondary-bg-color);
	transition: var(--tran-def);

}
.languageSelect:hover .languageDropDown{
	display: block;
}
.languageSelect:focus .languageDropDown{
	display: block;
}
.languageSelect{
	position: relative;
	display: inline-block;
	/* box-shadow: var(--box-shadow-flat); */
	background-color: var(--secondary-bg-color);
	margin: 2rem 2rem 125px 2rem;
	padding: 1rem;
	border-radius: 20px;
	transition: var(--tran-def);
}
.languageSelect:hover, .languageSelect:focus, .languageSelect:active{
	background-color: var(--secondary-color);
	margin-bottom: 20px;
}

.copyArea:hover .codeTooltip{
	opacity: 70% !important;
}
.copyArea:focus .codeTooltip{
	opacity: 70% !important;
}

.codeTooltip{
	display: inline-block;
	position: absolute;
	background-color: var(--primary-bg-color);
	transition: var(--tran-def);
	color: var(--primary-text-color);
	border-radius: 10px;
	padding: 0.4rem 0.8rem;
	left: 0;
	right: 0;
	margin: auto auto auto auto;
	z-index: 1;
	max-width: max-content;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.4s;
}
.copyArea{
	box-shadow: var(--box-shadow-in);
	padding: 0.3rem 1rem;
	border-radius: 20px;
	margin-bottom: 1rem;
	display: inline-block;
}
.codeLink{
	font-size: 1rem;
	cursor: pointer;
}
.contactUs{
	display: inline-block;

	padding-bottom: 7px;
	font-weight: 100;
	margin-left: 1rem;
}
.TriangleDropTitle{
	display: inline-block;
	color: var(--primary-text-color);
	padding-bottom: 7px;
	font-weight: 600;
	padding-bottom: 1rem;
	font-size: 2.5rem;
}
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
.title{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}
nav>ul>li{
	display: inline-block;
	margin: 0 1rem;
	font-size: 1.5rem;
	font-weight: 100;
}
nav>ul>li>a {
	color: #000;
}
.codeSector{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin: 1.5rem 0 0 0;
}
.flexBlink{
	flex-basis: 150px;
	flex-shrink: 1;
}
.codeQRcode{
	padding: 10px;
	/* margin: 1rem; */
	border-radius: 10px;
	/* box-shadow: inset 5px 5px 15px #cccccc,
			inset -5px -5px 15px #f4f4f4; */

}
.codeQRcode>img{
	width: 130px;
}
.flexBox{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
}
.message{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-grow: 1;
	height: 15px;
}
.inRoomTopBar{
	padding: 10px;
}
.loading{
	width: 100vw;
	height: 100vh;
	background: RGBA(0,0,0,0.5);
	position: fixed;
	z-index: 10;
	display: none;
	flex-direction: column;
	justify-content: center;
}
.loadingMessage{
	margin: 0 auto;
	color: white;
	opacity: 100%;
	font-weight: 600;
	font-size: 1.5rem;
}
.kakao_ad_area{
	z-index: 50;
}

.enterRoomErrorLable{
	opacity: 0;
	color: red;
	transition: opacity 0.4s;
}
.themeToggleButton{
	display: inline-block;
	margin: 0 1rem;
	cursor: pointer;
	/* background-color: var(--primary-bg-color-next); */
	transition: var(--tran-def), box-shadow 0.4s;
	border-radius: 20px;
	padding: 0 0.5rem;
	color: var(--primary-bg-color-next);
}
.themeToggleButton::after{
	content : "";
	border-radius:10000px;
	position: relative;
	box-shadow: 0 -15px 80px 50px var(--primary-bg-color-next);
	background-color: var(--primary-bg-color-next);
	z-index: -50;
	display: block;
	opacity: 0.6;
	transition: box-shadow 0.25s ease-in-out, opacity 0.3s ease-in-out;
	/* 흠 */

}
.themeToggleButton:hover::after{
	/* box-shadow: 0 -15px 40px 40px var(--primary-bg-color-next); */
	opacity: 0.8;
}
/* .themeToggleButton.activate::after{
	opacity: 1;
	box-shadow: 0 -15px 250px 200px var(--primary-bg-color-next);
} */
.themeToggleButton::before{
	content: "";
	box-shadow: 0 15px 10000px 150px var(--primary-bg-color-next);
	z-index: 999999;
	display: block;
	opacity: 0;
	transition: opacity 0.25s ease-out, box-shadow 0.25s ease-in-out;
}
.themeToggleButton.activate::before{
	opacity: 1;
}
/* .themeToggleButton::before{
	background-color: var(--primary-bg-color-next);
} */

.myMessage{
	color: var(--secondary-text-color);
	transition: var(--tran-def);
}
.unsupporteBrowserMessgae{
	background-color: #ffff00;
	color: black;
	padding: 1rem;
	width: 100vw;
}