@import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");

:root {
	--color-light-blue: rgb(229, 243, 252);
	--color-light-green: rgb(195, 247, 229);
	--box-shadow-flat: 15px 15px 30px #989898,
	-15px -15px 30px #ffffff;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	background-color: #e0e0e0;
	color: black;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 7px;
	height: 3.5px;
}
html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
	background: #3a3a3a;
	border-radius: 20px;
}
html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
	background: #ffffff00;
	border-radius: 20px;
}

input[type="text"] {
	color: #000;
	font-size: 1rem;
	border: 0;
	border-radius: 10px;
	outline: none;
	padding: 0.5rem;
	background: #e0e0e0;
	box-shadow: inset 15px 15px 30px #cccccc,
            inset -15px -15px 30px #f6f6f6;
}

button {
	border-radius: 10px;
	color: #000;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow:  15px 15px 30px #989898,
				 -15px -15px 30px #ffffff;
				 cursor: pointer;
}

/* button {
	transition: filter 0.5s !important;
	background: linear-gradient(45deg, #3eb8ff, #2651ad);
	border: none !important;
}
button:hover {
	filter: hue-rotate(50deg);
	transition: filter 0.5s;
} */



/* to bottom, #f5f5f5, #e6e6e6 */

.center {
	/* position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%); */
	margin-top: 2rem;
	width: 88vw;
	max-width: 1600px;
}

.app {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	/* width: 70%; */
	text-align: center;
}

.label {
	font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 2rem;
	font-weight: 400;
}

.codeInputLabel{
	font-size: 1.4rem;
	margin-bottom: 1rem;
	display: block;
}

hr {
	height: 1px;
	border: none;
	margin: 1rem;
	margin-left: 0;
	margin-right: 0;
	
}
.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}

.hr-text:before {
	content: '';
	/* background: linear-gradient(to right, transparent, #818078, transparent); */
	background-color: #818078;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: black;
	background-color: #e0e0e0;
}

.code {
	/* display: flex; */
	align-items: center;
	justify-content: center;
	/* height: 5rem;
	width: 14rem; */
	padding: 0.3rem;

	cursor: pointer;

	font-weight: 300;
	font-size: 6rem;
	font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
	/* border-radius: 20px; */

	color: white;
	text-decoration: none;
	display: inline-block;
	position: relative;

	/* margin-bottom: 0.5rem; */
	background: linear-gradient(45deg, #9857ff, #5af6ff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.code:after {
	content: "";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 1.5px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

span.code:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.code span {
	font-size: 1.5rem;
	color: #1095c1;
}

.code.InRoom {
	font-size: 1.5rem;
	height: 1.5rem;
	margin: 0;
	padding: 0;
	width: unset;
	padding-bottom: 0.5rem;
	/* position: unset !important;
	transform: none !important;
	top: unset !important;
	left: unset !important; */
}

.waitLabel {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	width: fit-content;
	font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
	display: inline;
}



.roomCodeInput {
	margin-right: 0.5rem;
	flex-basis: 100%;
	font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
	text-transform: uppercase;
}

.roomCodeInput:hover,
.roomCodeInput:focus,
.enterButton:hover,
.enterButton:focus {
	/* box-shadow: 0 0 1px 1px #fff, 3px -3px 5px #a9ffec, -3px 3px 5px #7360a1; */
	/* box-shadow: inset 0 1px 0px 0px rgb(233 212 255 / 52%), 0 0 8px 0.5px rgb(193 185 244 / 70%); */
}

.enterButton {
	border: none;
	color: #000;
	font-size: 1.2rem;
	border-radius: 10px;
	outline: none;
	padding: 1rem;
	font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
}

/* #welecome {
	min-width: 35%;
} */

.errorCode {
	background-color: #e53935;
	/* border-color: red; */
}

/* .noRoom {
    margin: 0.5rem;
    color: red;
    font-weight: 900;
} */

#inRoom {
	width: 70%;
}
#fileInput {
	display: none;
}
.fileInputLabel {
	cursor: pointer;
	font-size: 1.2rem;
	/* background-color: #1095c1; */
	border-radius: 500px;
	width: 50px;
	height: 50px;
	margin-bottom: 0;
	flex-shrink: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
.fileInputLabel > i {
	color: #8f8f8f;
	font-size: 1.5rem;
	/* margin-top: 15.155px;
	text-align: center; */
}
.fileInputLabel > i:hover {
	color: rgb(204, 204, 204);
}

.messageDiv {
	font-size: 1.2rem;
	border: 0;
	border-radius: 10px;
	outline: none;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 70vw;
	bottom: 2rem;
	margin: 0 auto;
	position: fixed;
	height: 3rem;
	padding: 0.5rem;
	/* height: 50px; */
	/* box-shadow: 15px 15px 30px #989898; */
	z-index: 0;
	background-color: #e0e0e0;
}
.messageSendBlock{
	margin: 0;
	position:fixed;
	width: 70vw;
}
.filesPreview {
	padding: 0.5rem;
	padding-bottom: 40px;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 70vw;
	text-align: left;
	position: fixed;
	bottom: 50px;
	box-shadow: 15px 15px 30px #989898;
	z-index: -1;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#messageInput {
	width: 100%;
}

#messageInput,
#messageSendButton {
	margin-bottom: 0;
}

#messageSendButton {
	/* width: min-content; */
	/* margin: 2rem; */
	background-color: #212121;
	border: none;
	margin-right: 10px;
	cursor: pointer;
}

#messageSendButton > i {
	font-size: 1.5rem;
	color: #8f8f8f;
}
#messageSendButton > i:hover {
	color: rgb(204, 204, 204);
}

#messageBlock {
	/* background-color: #18242c; */
	height: 75vh;
	overflow-y: scroll;
}

.progress {
	position: sticky;
	top: 0;
	background: #e0e0e0;
	width: 80vw;
	margin: auto;
	border-radius: 50px;
	box-shadow:  15px 15px 30px #989898,
				 -15px -15px 30px #ffffff;
}

div.sendProgress > div.label,
div.receiveProgress > div.label {
	font-weight: 700;
	font-size: 1.2rem;
	text-align: center;
	margin: 0px;
	padding-top: 15px;
}
#sendProgressBar,
#receiveProgressBar {
	width: 70vw;
	margin: 20px;
}
#enterRoom {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.enterRoomDiv{
	transition: border 0.5s;
}
.prv {
	margin-right: 0.2rem;
	margin-left: 0.2rem;
}
.prv > i {
	font-size: 1.5rem;
	color: #8f8f8f;
}
.prv.fa-file{
	font-size: 4rem;
}
.prv.prvFileBox {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	vertical-align: top;
}
.prv.prvFileName {
	font-size: 1.4rem;
	font-weight: 900;
}
.prv.prvFileSizeAndType {
	font-size: 1rem;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spin {
	animation: spin 1s ease-in-out infinite;
}
.fa-solid.fa-circle-notch {
	width: 22px;
	height: 22px;
	font-size: 22px;
}
.dragAndDrop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
	background-color: white;
	opacity: 0;
	transition: opacity 1s;
}
.drop-zone-active {
	transition: opacity 1s;
	display: block;
	opacity: 0.8;
	pointer-events: all;
}

.footerDiv{
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	box-shadow:  15px 15px 30px #989898,
             -15px -15px 30px #ffffff;
	z-index: -1;
	border-radius: 20px;
	padding: 10px;

}

div.footerLeft{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-around;
	margin: 0.8rem;
}
div.developerLogos{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	font-size: 2.3rem;
}
/* .developerLogo:hover{
	color: #63b4ff;
} */
.developerLogo{
	margin-right: 1rem;
	padding-bottom: 7px;
	font-weight: 100;
	color: rgb(24, 24, 24);
}
.viewOnGithub{
	color: rgb(24, 24, 24);
}
.viewOnGithubLink{
	color: rgb(24, 24, 24);
}
.newTabIcon{
	font-size: 1.5rem;
}

a{
	color: #63b4ff;
	text-decoration: none;
}
a:hover{
	color: #63b4ff;
	text-decoration: none;
}
#sector0 ,#sector1, #sector2{
	border-radius: 30px;
box-shadow:  15px 15px 30px #989898,
             -15px -15px 30px #ffffff;
			 padding: 15px;
			 z-index: -1;
}
#sector0{
	margin-bottom: 2rem;
}
#sector2{
	margin-top: 2rem;
}
.languageDropDown{
	display: none;
	background-color: e0e0e0;
	max-width: 160px;
	z-index: 1;
	margin-top: 1rem;
}
.languageDropDown > a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.languageDropDown > a:hover{
	background-color: #f1f1f1;
}
.languageSelect:hover .languageDropDown{
	display: block;
}
.languageSelect:focus .languageDropDown{
	display: block;
}
.languageSelect{
	position: relative;
	display: inline-block;
	box-shadow: var(--box-shadow-flat);
	margin: 2rem;
	padding: 1rem;
	border-radius: 20px;
}

.codeBox:hover .codeTooltip{
	opacity: 90% !important;
}
.codeBox:focus .codeTooltip{
	opacity: 90% !important;
}

.codeTooltip{
	display: inline-block;
	position: absolute;
	background-color: #2b2b2b;
	color: #fff;
	border-radius: 0.6rem;
	padding: 0.4rem 0.8rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 5rem;
	z-index: 1;
	max-width: max-content;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
}
.copyArea{
	box-shadow: inset 5px 5px 15px #cccccc,
            inset -5px -5px 15px #f4f4f4;
	padding: 0.3rem 1.6rem;
	border-radius: 20px;
	margin-bottom: 10px;
	display: inline-block;
}
.codeLink{
	font-size: 1.3rem;
}